<div layout layout-align="center start" layout-padding ng-cloak id="profile">
    <md-content flex="100" flex-gt-sm="40">
        <p>
            <small><a href="#/profile">cancel</a></small>
        </p>
        <form name="editForm" ng-submit="editProfile()">
            <div layout="column" layout-align="center center" layout-padding class="md-whiteframe-3dp">

                <input type="text" name="username" id="usernameEdit" ng-model="editUser.username" placeholder="{{user.username}}">
                <p ng-show="usernameError" style="color: firebrick; font-size: .8em;">
                    <small>{{usernameError}}</small>
                </p>
                <input type="text" name="email" id="emailEdit" ng-model="editUser.email" placeholder="{{user.email}}">
                <input type="text" name="bio" id="bioEdit" ng-model="editUser.bio" placeholder="{{user.bio}}">

                <md-button class="md-raised md-accent" type="submit" ng-disabled="!editUser">Make Changes
                </md-button>

            </div>
        </form>
    </md-content>
</div>